################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/basic/Debug
/basic/.vs/basic/v16
/.vs
*.vcxproj
*.filters
*.user
*.sln
/week7/week7/Debug
/week7/.vs/week7/v16/ipch/AutoPCH
/week7/.vs/week7/v16
/week7/Debug
/week9/week9/Debug/week9.tlog
/week1/Debug
/week10/.vs/week10/v16
/week10/Debug
/week10/week10/Debug
/week2/.vs/week2/v16
/week3/.vs/week3/v16
/week3/Debug
/week1/.vs/week1/v16
/week1/루프문/Debug
/week3/week3/Debug/week3.tlog
*.idb
*.pdb
*.recipe
*.log
*.obj
/week4/Debug
/week4/.vs/week4/v16
/week5/.vs/week5/v16
/week5/Debug
*.tlog
/week6/.vs/week6/v16
/week6/Debug
*.exe
*.ilk
*.db
*.suo
*.ipch
