################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/basic/Debug
/basic/.vs/basic/v16
/.vs
*.vcxproj
*.filters
*.user
*.sln
/week7/week7/Debug
/week7/.vs/week7/v16/ipch/AutoPCH
/week7/.vs/week7/v16
/week7/Debug
